<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title> Learn Laguages </title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link href="/css/font.css" rel="stylesheet"/>
    <link href="/css/texts.css" rel="stylesheet"/>
    <link href="/css/responsive.css" rel="stylesheet"/>
</head>
<body>

<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar">
            <a href="/home" class="navbar-brand">
                <span>NewLaguages</span>
            </a>
            <div class="list-nav">
                <a th:if="${isAdmin}" href="/admin-page">My Page</a>
                <a th:if="${isUser}" href="/user-page">My Page</a>
                <a href="/french">Learn French</a>
                <a href="/forum">Forum</a>
                <a href="/logout" >Logout</a>
            </div>
        </nav>
    </div>
</header>

<section class="main_section position-relative">
    <div class="main_bg_box">
        <img src="/images/texts.jpg" alt="">
    </div>
    <div class="main_bg"></div>
    <div class="container">
        <div class="col-md-12 ml-auto">
            <div class="detail-box">
                <h1>Intermediate</h1>
                <p>Texts in both English and French for intermediate level.

                </p>
                <button onclick="scrollToTop()" id="back-to-top-btn" title="Go to top">Top</button>

                <button onclick="toggleChatWindow()" id="chatwindow" title="Chat with me">Chat</button>

                <div id="chatWindowcontainer" class="window-container" style="display: none;">
                    <iframe src="http://127.0.0.1:5000/" id="chatContainer"></iframe>


                </div>

            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const popups = document.querySelectorAll(".popup");
        popups.forEach(function (popup) {
            const translation = popup.getAttribute("data-translate");
            const popuptext = popup.querySelector(".popuptext");
            popuptext.innerHTML = translation;
        });
    });
    function toggleChatWindow() {
        var chatWindow = document.getElementById('chatWindowcontainer');
        chatWindow.style.display = chatWindow.style.display === 'none' ? 'block' : 'none';
    }
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("back-to-top-btn").style.display = "block";
        } else {
            document.getElementById("back-to-top-btn").style.display = "none";
        }
    }

    function scrollToTop() {
        document.body.scrollTop = 0; /* For Safari */
        document.documentElement.scrollTop = 0; /* For Chrome, Firefox, IE and Opera */
    }

</script>

<section class="second_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-12">
                <div class="detail_container">
                    <div class="detail-box">

                        <a href="/quiz">Retake the quiz?</a>
                        <br>
                        <h1><span class="popup" data-translate="The little prince">Le petit prince<span class="popuptext">The little prince</span></span>
                        </h1>
                        <h5>~Antoine de Saint-Exupéry~</h5>
                        <br>
                        <p>C'est alors qu'apparut <span class="popup" data-translate="the fox"><b>le renard</b><span class="popuptext">the fox</span></span>
                            :
                            <br>
                            - Bonjour, dit le renard.
                            <br>
                            - Bonjour, répondit poliment le petit prince, qui se retourna mais ne vit rien.
                            <br>
                            - Je suis là, dit la voix, sous le pommier.
                            <br>
                            - Qui es-tu ? dit le petit prince. Tu es bien joli...
                            <br>
                            - Je suis un renard, dit le renard.
                            <br>
                            - Viens jouer avec moi, lui proposa le petit prince. Je suis tellement triste...
                            <br>
                            - Je ne puis pas jouer avec toi, dit le renard. <span class="popup" data-translate="I am not tamed"><b>Je ne suis pas apprivoisé.</b><span class="popuptext">I am not tamed</span></span>

                            <br>
                            - Ah! pardon, fit le petit prince.
                            <br>
                            Mais, après réflexion, il ajouta:
                            <br>
                            - Qu'est-ce que signifie "apprivoiser" ?
                            <br>
                            - Tu n'es pas d'ici, dit le renard, que cherches-tu ?
                            <br>
                            - Je cherche les hommes, dit le petit prince. Qu'est-ce que signifie "apprivoiser" ?
                            <br>
                            - Les hommes, dit le renard, ils ont des fusils et ils chassent. C'est bien gênant ! Ils élèvent aussi des poules. C'est leur seul intérêt. Tu cherches des poules ?
                            <br>
                            - Non, dit le petit prince. Je cherche des amis. Qu'est-ce que signifie "apprivoiser" ?
                            <br>
                            - C'est une chose trop oubliée, dit le renard. Ça signifie "créer des liens..."
                            <br>
                            -<span class="popup" data-translate="To establish ties'?"><b>Créer des liens ?</b><span class="popuptext">To establish ties'?</span></span>

                            <br>
                            - Bien sûr, dit le renard. Tu n'es encore pour moi qu'un petit garçon tout semblable à cent mille petits garçons. Et je n'ai pas besoin de toi. Et tu n'as pas besoin de moi non plus. Je ne suis pour toi qu'un renard semblable à cent mille renards. Mais, si tu m'apprivoises, <span class="popup" data-translate="we shall need each othe"><b>nous aurons besoin l'un de l'autre</b><span class="popuptext">we shall need each othe</span></span>
                            . Tu seras pour moi unique au monde. Je serai pour toi unique au monde...
                            <br>
                            - Je commence à comprendre, dit le petit prince. Il y a une fleur... je crois qu'elle m'a apprivoisé...
                            <br>
                            - C'est possible, dit le renard. On voit sur la Terre toutes sortes de choses...
                            <br>
                            - Oh! ce n'est pas sur la Terre, dit le petit prince.
                            <br>
                            Le renard parut très <span class="popup" data-translate="perplexed"><b>intrigué</b><span class="popuptext">perplexed</span></span>
                            :
                            <br>
                            - Sur une autre planète ?
                            <br>
                            - Oui.
                            <br>
                            - Il y a des chasseurs, sur cette planète-là ?
                            <br>
                            - Non.
                            <br>
                            - Ça, c'est intéressant ! Et des poules ?
                            <br>
                            - Non.
                            <br>
                            - <span class="popup" data-translate="Nothing is perfect"><b>Rien n'est parfait</b><span class="popuptext">Nothing is perfect</span></span>
                            , soupira le renard.
                            <br>
                            Mais le renard revint à son idée:
                            <br>
                            - Ma vie est monotone. Je chasse les poules, les hommes me chassent. Toutes les poules se ressemblent, et tous les hommes se ressemblent. Je m'ennuie donc un peu. Mais, si tu m'apprivoises, ma vie sera comme ensoleillée. Je connaîtrai un bruit de pas qui sera différent de tous les autres. Les autres pas me font rentrer sous terre. Le tien m'appellera <span class="popup" data-translate="outside of the burrow"><b>hors du terrier</b><span class="popuptext">outside of the burrow</span></span>
                            , comme une musique. Et puis regarde ! Tu vois, là-bas, les champs de blé ? Je ne mange pas de pain. Le blé pour moi est inutile. Les champs de blé ne me rappellent rien. Et ça, c'est triste ! Mais tu as des cheveux couleur d'or. Alors ce sera merveilleux quand tu m'auras apprivoisé ! Le blé, qui est doré, me fera souvenir de toi. Et j'aimerai le bruit du vent dans le blé...
                            <br>
                            Le renard se tut et regarda longtemps le petit prince:
                            <br>
                            - S'il te plaît... apprivoise-moi ! dit-il.
                            <br>
                            - Je veux bien, répondit le petit prince, mais je n'ai pas beaucoup de temps. J'ai des amis à découvrir et beaucoup de choses à connaître.
                            <br>
                            - On ne connaît que les choses que l'on apprivoise, dit le renard. Les hommes n'ont plus le temps de rien connaître. Ils achètent des choses toutes faites chez les marchands. Mais comme il n'existe point de marchands d'amis, les hommes n'ont plus d'amis. Si tu veux un ami, apprivoise-moi !
                            <br>
                            - Que faut-il faire? dit le petit prince.
                            <br>
                            - Il faut être très patient, répondit le renard. Tu t'assoiras d'abord un peu loin de moi, comme ça, dans l'herbe. Je te regarderai du coin de l'œil et tu ne diras rien. Le langage est source de <span class="popup" data-translate="misunderstandings"><b>malentendus</b><span class="popuptext">misunderstandings</span></span>
                            . Mais, chaque jour, tu pourras t'asseoir un peu plus près...
                            <br>
                            Le lendemain revint le petit prince.
                            <br>
                            - Il eût mieux valu revenir à la même heure, dit le renard. Si tu viens, par exemple, à quatre heures de l'après-midi, dès trois heures je commencerai d'être heureux. Plus l'heure avancera, plus je me sentirai heureux. A quatre heures, déjà, je <span class="popup" data-translate="worrying and jumping about"><b>m'agiterai et m'inquiéterai</b><span class="popuptext">worrying and jumping about.</span></span>
                            ; je découvrirai le prix du bonheur ! Mais si tu viens n'importe quand, je ne saurai jamais à quelle heure m'habiller le cœur... Il faut des rites.
                            <br>
                            - Qu'est-ce qu'un rite ? dit le petit prince.
                            <br>
                            - C'est aussi quelque chose de trop oublié, dit le renard. C'est ce qui fait qu'un jour est différent des autres jours, une heure, des autres heures. Il y a un rite, par exemple, chez mes chasseurs. Ils dansent le jeudi avec les filles du village. Alors le jeudi est jour merveilleux ! Je vais me promener jusqu'à la vigne. Si les chasseurs dansaient n'importe quand, les jours se ressembleraient tous, et je n'aurais point de vacances.
                            <br>
                            Ainsi le petit prince apprivoisa le renard. Et quand l'heure du départ fut proche:
                            <br>
                            - Ah! dit le renard... Je pleurerai.
                            <br>
                            - C'est ta faute, dit le petit prince, je ne te souhaitais point de mal, mais tu as voulu que je t'apprivoise...
                            <br>
                            - Bien sûr, dit le renard.
                            <br>
                            - Mais tu vas pleurer ! dit le petit prince.
                            <br>
                            - Bien sûr, dit le renard.
                            <br>
                            - Alors tu n'y gagnes rien !
                            <br>
                            - J'y gagne, dit le renard, à cause de la couleur du blé.
                            <br>
                            Puis il ajouta:
                            <br>
                            - Va revoir les roses. Tu comprendras que la tienne est unique au monde. Tu reviendras me dire adieu, et je te ferai cadeau d'un secret.
                            <br>
                            Le petit prince s'en fut revoir les roses:
                            <br>
                            - Vous n'êtes pas du tout semblables à ma rose, vous n'êtes rien encore, leur dit-il. Personne ne vous a apprivoisé et vous n'avez apprivoisé personne. Vous êtes comme était mon renard. Ce n'était qu'un renard semblable à cent mille autres. Mais j'en ai fait mon ami, et il est maintenant unique au monde.
                            <br>
                            Et les roses étaient bien gênées.
                            <br>
                            - Vous êtes belles, mais vous êtes vides, leur dit-il encore. On ne peut pas mourir pour vous. Bien sûr, ma rose à moi, un passant ordinaire croirait qu'elle vous ressemble. Mais à elle seule elle est plus importante que vous toutes, puisque c'est elle que j'ai arrosée. Puisque c'est elle que j'ai mise sous globe. Puisque c'est elle que j'ai abritée par le paravent. Puisque c'est elle dont <span class="popup" data-translate="I have killed the caterpillars"><b>j'ai tué les chenilles</b><span class="popuptext">I have killed the caterpillars</span></span>
                            (sauf les deux ou trois pour les papillons). Puisque c'est elle que j'ai écoutée se plaindre, ou se vanter, ou même quelquefois se taire. Puisque c'est ma rose.
                            <br>
                            Et il revint vers le renard:
                            <br>
                            - Adieu, dit-il...
                            <br>
                            - Adieu, dit le renard. Voici mon secret. Il est très simple: on ne voit bien qu'avec <span class="popup" data-translate="the heart"><b>le cœur</b><span class="popuptext">the heart</span></span>
                            . L'essentiel est invisible pour les yeux.
                            <br>
                            - L'essentiel est invisible pour les yeux, répéta le petit prince, afin de se souvenir.
                            <br>
                            - C'est le temps que tu as perdu pour ta rose qui fait ta rose si importante.
                            <br>
                            - C'est le temps que j'ai perdu pour ma rose... fit le petit prince, afin de se souvenir.
                            <br>
                            - Les hommes ont oublié cette vérité, dit le renard. Mais tu ne dois pas l'oublier. Tu deviens responsable pour toujours de ce que tu as apprivoisé. Tu es responsable de ta rose...
                            <br>
                            - Je suis responsable de ma rose... répéta le petit prince, afin de se souvenir.

                        </p>

                        <br>
                        <hr/>
                    </div>
                    <div class="detail-box">
                        <h1>The little prince</h1>
                        <h5>~Antoine de Saint-Exupéry~</h5>
                        <br>
                        <p>It was then that the fox appeared.
                            <br>
                            "Good morning," said the fox.
                            <br>
                            "Good morning," the little prince responded politely, although when he turned around he saw nothing.
                            <br>
                            "I am right here," the voice said, "under the apple tree."
                            <br>
                            "Who are you?" asked the little prince, and added, "You are very pretty to look at."
                            <br>
                            "I am a fox," the fox said.
                            <br>
                            "Come and play with me," proposed the little prince. "I am so unhappy."
                            <br>
                            "I cannot play with you," the fox said. "I am not tamed."
                            <br>
                            "Ah! Please excuse me," said the little prince.
                            <br>
                            But, after some thought, he added:
                            <br>
                            "What does that mean--'tame'?"
                            <br>
                            "You do not live here," said the fox. "What is it that you are looking for?"
                            <br>
                            "I am looking for men," said the little prince. "What does that mean--'tame'?"
                            <br>
                            "Men," said the fox. "They have guns, and they hunt. It is very disturbing. They also raise chickens. These are their only interests. Are you looking for chickens?"
                            <br>
                            "No," said the little prince. "I am looking for friends. What does that mean--'tame'?"
                            <br>
                            "It is an act too often neglected," said the fox. It means to establish ties."
                            <br>
                            "'To establish ties'?"
                            <br>
                            "Just that," said the fox. "To me, you are still nothing more than a little boy who is just like a hundred thousand other little boys. And I have no need of you. And you, on your part, have no need of me. To you, I am nothing more than a fox like a hundred thousand other foxes. But if you tame me, then we shall need each other. To me, you will be unique in all the world. To you, I shall be unique in all the world . . ."
                            <br>
                            "I am beginning to understand," said the little prince. "There is a flower . . . I think that she has tamed me . . ."
                            <br>
                            "It is possible," said the fox. "On the Earth one sees all sorts of things."
                            <br>
                            "Oh, but this is not on the Earth!" said the little prince.
                            <br>
                            The fox seemed perplexed, and very curious.
                            <br>
                            "On another planet?"
                            <br>
                            "Yes."
                            <br>
                            "Are there hunters on that planet?"
                            <br>
                            "No."
                            <br>
                            "Ah, that is interesting! Are there chickens?"
                            <br>
                            "No."
                            <br>
                            "Nothing is perfect," sighed the fox.
                            <br>
                            But he came back to his idea.
                            <br>
                            "My life is very monotonous," the fox said. "I hunt chickens; men hunt me. All the chickens are just alike, and all the men are just alike. And, in consequence, I am a little bored. But if you tame me, it will be as if the sun came to shine on my life. I shall know the sound of a step that will be different from all the others. Other steps send me hurrying back underneath the ground. Yours will call me, like music, out of my burrow. And then look: you see the grain-fields down yonder? I do not eat bread. Wheat is of no use to me. The wheat fields have nothing to say to me. And that is sad. But you have hair that is the color of gold. Think how wonderful that will be when you have tamed me! The grain, which is also golden, will bring me back the thought of you. And I shall love to listen to the wind in the wheat . . ."
                            <br>
                            The fox gazed at the little prince, for a long time.
                            <br>
                            "Please--tame me!" he said.
                            <br>
                            "I want to, very much," the little prince replied. "But I have not much time. I have friends to discover, and a great many things to understand."
                            <br>
                            "One only understands the things that one tames," said the fox. "Men have no more time to understand anything. They buy things all ready made at the shops. But there is no shop anywhere where one can buy friendship, and so men have no friends any more. If you want a friend, tame me . . ."
                            <br>
                            "What must I do, to tame you?" asked the little prince.
                            <br>
                            "You must be very patient," replied the fox. "First you will sit down at a little distance from me--like that--in the grass. I shall look at you out of the corner of my eye, and you will say nothing. Words are the source of misunderstandings. But you will sit a little closer to me, every day . . ."
                            <br>
                            The next day the little prince came back.
                            <br>
                            "It would have been better to come back at the same hour," said the fox. "If, for example, you come at four o'clock in the afternoon, then at three o'clock I shall begin to be happy. I shall feel happier and happier as the hour advances. At four o'clock, I shall already be worrying and jumping about. I shall show you how happy I am! But if you come at just any time, I shall never know at what hour my heart is to be ready to greet you . . . One must observe the proper rites . . ."
                            <br>
                            "What is a rite?" asked the little prince.
                            <br>
                            "Those also are actions too often neglected," said the fox. "They are what make one day different from other days, one hour from other hours. There is a rite, for example, among my hunters. Every Thursday they dance with the village girls. So Thursday is a wonderful day for me! I can take a walk as far as the vineyards. But if the hunters danced at just any time, every day would be like every other day, and I should never have any vacation at all."
                            <br>

                            So the little prince tamed the fox. And when the hour of his departure drew near--
                            <br>
                            "Ah," said the fox, "I shall cry."
                            <br>
                            "It is your own fault," said the little prince. "I never wished you any sort of harm; but you wanted me to tame you . . ."
                            <br>
                            "Yes, that is so," said the fox.
                            <br>
                            "But now you are going to cry!" said the little prince.
                            <br>
                            "Yes, that is so," said the fox.
                            <br>
                            "Then it has done you no good at all!"
                            <br>
                            "It has done me good," said the fox, "because of the color of the wheat fields." And then he added:
                            <br>
                            "Go and look again at the roses. You will understand now that yours is unique in all the world. Then come back to say goodbye to me, and I will make you a present of a secret."
                            <br>

                            The little prince went away, to look again at the roses.
                            <br>
                            "You are not at all like my rose," he said. "As yet you are nothing. No one has tamed you, and you have tamed no one. You are like my fox when I first knew him. He was only a fox like a hundred thousand other foxes. But I have made him my friend, and now he is unique in all the world."
                            <br>
                            And the roses were very much embarassed.
                            <br>
                            "You are beautiful, but you are empty," he went on. "One could not die for you. To be sure, an ordinary passerby would think that my rose looked just like you--the rose that belongs to me. But in herself alone she is more important than all the hundreds of you other roses: because it is she that I have watered; because it is she that I have put under the glass globe; because it is she that I have sheltered behind the screen; because it is for her that I have killed the caterpillars (except the two or three that we saved to become butterflies); because it is she that I have listened to, when she grumbled, or boasted, or ever sometimes when she said nothing. Because she is my rose.
                            <br>

                            And he went back to meet the fox.
                            <br>
                            "Goodbye," he said.
                            <br>
                            "Goodbye," said the fox. "And now here is my secret, a very simple secret: It is only with the heart that one can see rightly; what is essential is invisible to the eye."
                            <br>
                            "What is essential is invisible to the eye," the little prince repeated, so that he would be sure to remember.
                            <br>
                            "It is the time you have wasted for your rose that makes your rose so important."
                            <br>
                            "It is the time I have wasted for my rose--" said the little prince, so that he would be sure to remember.
                            <br>
                            "Men have forgotten this truth," said the fox. "But you must not forget it. You become responsible, forever, for what you have tamed. You are responsible for your rose . . ."
                            <br>
                            "I am responsible for my rose," the little prince repeated, so that he would be sure to remember.</p>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>

<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">

            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        NewLanguages
                    </a>
                    <p>Explore our diverse collection of language resources and embark on your journey to linguistic proficiency today.
                    </p>


                </div>
            </div>

        </div>
        <div class="footer-info">
            <p>&copy; <span id="displayYear"></span>All Rights Reserved By
                <a href="#">NewLanguages</a></p>
        </div>
    </div>
</footer>



</body>
</html>
