@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("../fonts/octin_sports_rg.ttf");
body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

.layout_padding {
    padding: 90px 0;
}


.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-family: 'Playfair Display', serif;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
}

/*header section*/
.header_section {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.header_section .nav_container {
    margin: 0 auto;
}


.list-nav {

    display: flex;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
}

.navbar-brand span {
    font-size: 23px;
    font-weight: 700;
    color: #2D666B;
}

/* auth section */
.auth_section {
    min-height: 100vh;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    color: #0c0c0c;
}

.auth_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.auth_section .auth_form-container {
    margin-top: 35px;

}

.auth_section .auth_form-container input {
    border: none;
    outline: none;
    color: #0c0c0c;
    height: 45px;
    width: 100%;
    margin: 15px 0;
    padding-left: 15px;
    background-color: transparent;
    border-bottom: 1px solid #0c0c0c;
}

.auth_section .auth_form-container input::-webkit-input-placeholder {
    color: #0c0c0c;
    text-transform: uppercase;
}

.auth_section .auth_form-container input:-ms-input-placeholder {
    color: #0c0c0c;
    text-transform: uppercase;
}

.auth_section .auth_form-container input::-ms-input-placeholder {
    color: #0c0c0c;
    text-transform: uppercase;
}

.auth_section .auth_form-container input::placeholder {
    color: #0c0c0c;
    text-transform: uppercase;
}

.auth_section .auth_form-container input.message_input {
    height: 75px;
}

.auth_section .auth_form-container input:focus {
    border-bottom: 1px solid #FCBBB8;
}

.auth_section .auth_form-container input[type="date"]::-webkit-calendar-picker-indicator,
.auth_section .auth_form-container input[type="time"]::-webkit-calendar-picker-indicator {
    color: #0c0c0c;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.auth_section .auth_form-container .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 25px;

}

.auth_section .auth_form-container button {
    display: inline-block;
    padding: 10px 60px;
    background-color: #FCBBB8;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #FCBBB8;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-transform: uppercase;
    font-weight: bold;
}

.auth_section .auth_form-container button:hover {
    background-color: transparent;
    color: #FCBBB8;
}

.auth_section .auth_form-container .new-acc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px;

}
.auth_section .auth_form-container span {
    color: #0c0c0c;

}
.auth_section .auth_form-container span:hover {
    color: #FCBBB8;

}



.auth_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.auth_bg_box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top right;
    object-position: top right;
}

.auth_bg_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

/* footer section*/
.footer_section {
    background-color: #4D7D82;
    color: #ffffff;
    padding: 75px 0 40px 0;
    text-align: center;
}


.footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.footer_section .footer-col {
    margin-bottom: 30px;
}



.footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
}

.footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
}

.footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
}

.footer_section .footer-info p a {
    color: inherit;
}
