@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("../fonts/octin_sports_rg.ttf");
body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}


/*header section*/
.header_section {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.header_section .nav_container {
    margin: 0 auto;
}



.list-nav {

    display: flex;
}
.list-nav a{
    color: #ffffff;
    padding: 15px;
    font-size: 12px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: #4D7D82;
}

a:hover,
a:focus {
    color: initial;
}
.navbar-brand {
    font-family: 'Playfair Display', serif;
}

.navbar-brand span {
    font-size: 23px;
    font-weight: 700;
    color: #ffffff;
}


/* main section */
.main_section {
    min-height: 100vh;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}


.main_section .detail-box {
    position: relative;
    z-index: 4;
    color: #ffffff;
    padding: 75px 0;

}

.main_section .detail-box h1 {
    font-weight: bold;
    font-size: 3rem;
}
.main_section .detail-box a {
    color: #ffffff;
}
.main_section .detail-box a:hover {
    color: #FCBBB8;
}
.main_section .detail-box  {
    margin-top: 15px;
}
.main_section .detail-box table {
    width: 100%;
}

.main_section .detail-box table th, table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.main_section .detail-box table th {
    background-color: #f2f2f2;
    color: #4D7D82;
}


.main_section .main_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}

.main_section .main_bg_box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top left;
    object-position: top left;
}

.main_section .main_bg_box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(24, 77, 71, 0.2)), to(rgba(24, 77, 71, 0.75)));
    background: linear-gradient(to right, rgba(24, 77, 71, 0.2), rgba(24, 77, 71, 0.75));
}

.main_section .detail-box .button {
    padding: 10px 60px;
    background-color: #4D7D82;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #4D7D82;
    font-weight: bold;
    margin-top: 10px; /* Increase margin-top */
    margin-bottom: 50px; /* Increase margin-bottom */
    text-align: center; /* Center the text */
    text-decoration: none;
}


.main_section .detail-box .button:hover {
    background-color: #FCBBB8;
    color: #ffffff;
    border: 1px solid #FCBBB8;
}
.main_section .detail-box .table-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    width: 100%;
    max-width: 1000px;
}

.close-button {
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #4D7D82;
    margin-left: 50px;
    margin-bottom: 30px;
}
.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
}

#quizes {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #dddddd;
}

#quizes th, #quizes td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

#quizes th {
    background-color: #f2f2f2;
    color: #4D7D82;
}
#quizes td{
    color: #4D7D82;
}
.highlighted {
    background-color: #FCBBB8;
}
#chatwindow {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 80px;
    z-index: 99;
    font-size: 16px;
    background-color: #3b6064;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 40px;
    cursor: pointer;

}


#chatwindow:hover {
    background-color: #4D7D82;
}
.main_section .detail-box #chatWindowcontainer {
    background-color: white;
    width: 300px;
    height: 500px;
    position: fixed;
    bottom: 70px;
    right: 60px;
    z-index: 99;
    border: 5px solid #3b6064;
    border-radius: 10%;
}
.main_section .detail-box #chatContainer {
    background-color: white;
    width: 300px;
    height: 500px;
    position: fixed;
    bottom: 70px;
    right: 60px;
    z-index: 99;
    border: 5px solid #3b6064;
    border-radius: 10%;
}

#forum {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 140px;
    z-index: 99;
    font-size: 12px;
    background-color: #3b6064;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 40px;
    cursor: pointer;

}

#forum:hover {
    background-color: #4D7D82;
}
.main_section .detail-box #forumWindowcontainer {
    background-color: #4D7D82;
    max-width: 300px;
    max-height: 500px;
    position: fixed;
    bottom: 70px;
    right: 60px;
    z-index: 99;
    border: 5px solid #4D7D82;
    border-radius: 10%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.main_section .detail-box #forumWindowcontainer{
    text-align: center;
}
.main_section .detail-box #forumContainer {
    background-color: white;
    width: 300px;
    height: 500px;
    position: fixed;
    bottom: 70px;
    right: 60px;
    z-index: 99;
    border: 5px solid #3b6064;
    border-radius: 10%;
}



/* footer section*/
.footer_section {
    background-color: #4D7D82;
    color: #ffffff;
    padding: 75px 0 40px 0;
    text-align: center;
}


.footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.footer_section .footer-col {
    margin-bottom: 30px;
}



.footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
}

.footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
}

.footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
}

.footer_section .footer-info p a {
    color: inherit;
}
